
@media screen and (min-width: 800px){
	.welcome{
		width: 40%;
		margin-left: 5%;
		margin-right: 5%;
		float: left;
	}

	.upcoming{
		float: right;
		margin-left: 5%;
		margin-right: 5%;
		width: 40%;
		margin-top: 0px;
	}

	.photos{
		width: 40%;
		margin-left: 5%;
		margin-right: 5%;
		float: left;
	}

	.maps{
		width: 40%;
		margin-left: 5%;
		margin-right: 5%;
		float:right;
		display:block;
	}

	.phone_number{
		width: 40%;
		margin-top: 15px;
		margin-right: 5%;
		margin-left: 5%;
		float:left;

	}

	
}