$grey1: #f9f9f9;
$grey2: #F2F4F4;
$grey3: #E0E2E5;
$grey4: #848484;
$black: #333333;
$brown1: #EDE6DB;
$brown2: #67411B;
$blue1: #C7DBE0;
$blue2: #35536F;

$primary: 'pt-serif';
$secondary: 'proxima-nova';