/* Colors */

$primary_text_color: #313131;
$primary_hover_color: #56BEB7;
$secondary_text_color: #9c9c9c;

$primary_background_color: #fff;
$secondary_background_color: #F6F7FA;
$border_color: #edeef0;
