.body-text {
	width: 100%;
	max-width: 432px;
	color: $body-text-color;
	background-color: $heading-text-color;
	float:left;
	text-align:left;
	font-family: "Lato";
	font-weight: 300;
	line-height: 1.8;
	margin-bottom: 0px;

	margin-top: 40px;

}