/* Fonts */

$heading-text-color: #fff;
$body-text-color: #3B3E45;
$gray-text-color: #999A9C;
$blockquote-color: #847768;
$border-color: #898A8C;

$hover-style: 1px solid gold;
$hover-text-style: gold;