$primary_background_color: #074e90;
$secondary_background_color: #3a407a;
$link_background_color: #e86843;

$primary_text_color:#d8cab0;
$link_text_color: #dfa51e;
$header_text_color:  #c52e2f;

$benefits_green: #868733;

$off_white: #f7f3e1;