@import "variables", "resetstylesheet", "mixins";
@import url(https://fonts.googleapis.com/css?family=Aldrich|Oswald|Montserrat+Alternates|Stint+Ultra+Condensed|Stint+Ultra+Expanded|Roboto:400,300);

body{
	background-color: $primary_background_color;
	
}

*{
box-sizing:border-box;
}

.page-wrapper{
	background-color: $primary_background_color;
}

li{
		list-style-type: none;
	}

/*********************
Temporary Styles!
**********************/
h1, h2, h3, p{
	color: $primary_text_color;
}

h1{
		font-family: "Aldrich";
		font-size: 5em;
		text-transform: uppercase;

	}

h2{
	font-family: "Stint Ultra Expanded";
	text-transform: uppercase;
}

h3{
	font-family: "Refrigerator Deluxe";
	color: #c52e2f;
	text-transform: uppercase;
	font-size: 2em;
}

p{
	font-family: "Eurostile";
	font-size: 2em;
}

a{
	font-family: "Roboto";
	font-weight: 300;
	text-decoration: none;
	background-color: $link_background_color;
	color: $link_text_color;
	
}


/*********************
**********************/

/*********************
	Intro Section
**********************/

h1{
	border: 6px solid $primary_text_color;
	text-align: center;
	text-shadow: 2px 2px 5px $header_text_color;
	display: inline-block;
	padding: 10px 10px 0px 10px;
	margin-top: 0;

	@media screen and (min-width: 800px){
		margin-top: 100px;
		margin-bottom: 0;
	}

}
.intro{
	perspective: 1200px;
	perspective-origin: right top;
	overflow-x: hidden;

	
}

h2{
	transform: rotate(-10deg) translateX(-30px);
	text-align:center;
	background-color: $black;
	padding-left: 100px;
	font-size:2em;
	margin-bottom: 0;
	transform-origin: top right;
	overflow-x: hidden;
	width: 120%;
	padding-right: 20%;
	padding-left: 10%;



}

.summary{
	padding-bottom: 0;
	text-align: center;
	width: 100%;
	overflow-x: hidden;
	padding-top:10px;
	overflow-y:auto;


	
	p {
		background-color: $black;
		transform: rotate(-10deg) translateX(-30px);
		width: 120%;
		transform-origin: top right;
		padding-right:20px;
		
		


	}

	p:nth-child(1){
		padding-right:18%;
		padding-left: 10%;
		margin-left: -5%;
		
	}

	p:nth-child(2){
		margin-bottom: 0;
		padding-left: 18%;
		padding-right: 10%;
		margin-left: -5%;
		
	
	}
	
	&::after{
		content: url("../images/trotsky.png");
		transform: translateY(400px);
		padding-top: 20px;

		@media screen and (min-width: 800px){
			margin-top: 100px;
			margin-bottom: 0;
			content: url("../images/trotsky3.png");
		}

	}

}

.preamble{
	margin-top:0;
	background-color: $black;
	max-width: 638px;
	margin-left:auto;
	margin-right: auto;

	


	h3{
		background-color: $primary_text_color;
		text-align: center;
		font-size: 2em;
		display:inline-block;
		padding-top: 15px;
		margin: 0 auto;
		width: 100%;
		
		

	}

	h3::before{
		content: "!";
		font-size: 2em;
		font-family: "Aldrich";
		color: $black;
		display:inline-block;
		vertical-align: middle;
		padding-left: 10px;
		padding-right: 10px;
		

	}

	h3::after{
		@extend h3::before;
		

	}


	p{
		padding: 14px;
		font-size: 1.5em;

	}

	p:nth-child(3){
		padding-left: 30px;
		font-family: "Refrigerator Deluxe";
		border-left: 10px solid $primary_text_color;
		border-right: 10px solid $primary_text_color;
		color: $header_text_color;
	}

	p:nth-child(4){
		padding-right: 100px;
		margin-bottom: 0;

		@media screen and (min-width: 800px){
			
			
		}
	}


}



/********************
main paragraphs
********************/

.main {
	position: relative;
}

.explanation{
	overflow: auto;
	border-bottom: 200px solid $link_text_color;
	h3{
		font-size: 3em;
		padding-left: 20px;
		border-bottom: 1em solid $header_text_color;
		background-color: $link_text_color;
		margin-bottom: 0;
		margin-top: 0;
		padding-top: 300px;
		padding-bottom: 30px;
	}

	p:nth-child(2) { 
		font-size: 1.5em;
		border-bottom: 10px solid $link_text_color;
		padding: 10px;
		margin:0px;
		text-align: center;
		
		@media screen and (min-width: 800px){
			width: 40%;
			float: left;
			border-bottom: none;
				
			
		}
	}

	p:nth-child(3) { 
		font-size: 1.8em;
		
		font-family: "Refrigerator Deluxe";
		padding: 10px;
		margin:0px;
		text-align: left;

		@media screen and (min-width: 800px){
			width: 40%;
			float: left;
			border-left: 10px solid $link_text_color;

			&::after{
				content: "";
				font-size: 0px; line-height: 0%; 
				border-top: 10px solid $primary_background_color;
				border-right: 20px solid $header_text_color;
				border-bottom: 10px solid $primary_background_color;
				float:right;
				position: relative; 
				right: -34%;
				top: -160px;
				transform: scale(8.5);
				overflow-x: hidden;
			}

		
		}
		
	}
}

.participation{
	width:100%;
	height: 1600px;
	background-image: url("../images/arm_mono.svg");
	background-size: 900px;
	background-repeat: no-repeat;
	padding-top: 100px;
	margin-top:100px;
	clear:left;
	position:relative;

	@media screen and (min-width:1100px){
		border-right: 300px dotted $header_text_color;
		background-size: 1400px;
	}

	

	
	h3{
		padding-left: 6px;
		padding-right: 6px;
		background-color: $off_white;
		transform: rotate(5deg) translateX(40px);
		display: inline-block;
		margin: 0;
		font-size: 2.5em;

		@media screen and (min-width:1100px){
			margin-left: 200px;
		}
	}

	p{
		color: $primary_background_color;
		padding: 4px 10px 4px 10px;
		background-color: $off_white;
		transform: translateX(31px);
		max-width:240px;
		font-size:1.2em;

		@media screen and (min-width:1100px){
			margin-left: 200px;
		}
	}

	p:nth-child(2){
		transform: rotate(5deg) translateX(40px);
	}

}

.benefits{
	background-color: $black;
	padding: 20px;
	border: 10px solid $header_text_color;
	max-width: 560px;
	box-shadow: 10 10px 0px 0px black;
	z-index: 100;
	float: right;

	&::after{
		clear:both;
	}

	@media screen and (min-width: 900px){
		position: relative;
		bottom: 100px;
		right: 6%;

	}



	h3{
		color: $primary_text_color;
		text-align: center;
		font-size: 3em;
		margin: 0;
		border-bottom: 10px solid $header_text_color;
		padding: 10px;
		letter-spacing: .2em;
		@include text_shadow($header_text_color, 2);
		


	}

	h3::before{
		content: "!";
		display: block;
		text-align: center;
		font-size: 3em;
		font-family: "Refrigerator Deluxe";
		font-weight: 600;
		color: $header_text_color;
		float:left;
		height: 110px;
		width: 40px;
		@include text_shadow($black, 8);

}
	h3::after{
		@extend h3::before;
		float:right;
		
	}

	p{

		text-align: center;
	}

	p::after{
		content: "";
		width: 0;
		height: 0;
		border-left: 50px solid transparent;
		border-right: 50px solid transparent;
		border-bottom: 100px solid $header_text_color;
		display:block;
		margin:0 auto;
		margin-top: 20px;


	}

}



.requirements{
	background: $secondary_background_color url(../images/plane.svg) no-repeat 0px 100px;
	padding-top: 200px;
	padding-bottom: 50px;
	clear:both;
	margin: 0;

	
	@media screen and (min-width: 1100px){
		background-size: 2000px;
	}

	h3{
		font-family: "Stint Ultra Expanded";
		margin-top: 0;
		padding:12px;
		text-align: right;
		color: $primary_text_color;
		padding-right: 22px;
	}

	p{
		font-family: "Refrigerator Deluxe";
		font-size: 1.5em;
		padding: 14px;
		max-width: 600px;

		@media screen and (min-width:600px){
			margin-left: 20%;

		}

		@media screen and (min-width: 1100px){
			margin-left: 50%;
		}
	}

	p:nth-child(3){
		border: 14px solid $link_background_color;
	}
}

footer{
	background-color: $link_background_color;
	margin: 0;
	text-align: center;


	a{
		display: inline-block;
		padding: 4px;
		margin: 0;
		background-color: $secondary_background_color;
		padding-left: 8px;
		padding-right: 8px;
		color: $link_background_color;
	}
}

/*************
Sidebar
**************/
.sidebar{
	padding-bottom:50px;
	background: $header_text_color url("../images/trotsky2.jpg") no-repeat  center;
	width: 100%;
	overflow: auto;
	border-top: 200px solid $black;
	border-bottom: 50px solid $black;
	
	@media screen and (min-width: 1100px){
		border-left: 100px solid $black;
	}


	h3{
		color: $header_text_color;
		@include text_shadow($off_white, 1);

	}

	a{
		background-color: $header_text_color;
		color: $off_white;

	}
}

.design-selection{
	font-family: "Refrigerator Deluxe";

	h3{
		text-align: center;
		margin-top: 0;

		@media screen and (min-width: 1100px){
			padding: 10px;
			text-align: left;
		}

	}

	

	a{
		width: 50%;
		border: none;}

	li:nth-child(1),li:nth-child(2),li:nth-child(3),li:nth-child(4){
		display: inline-block;
		float:left;
		width: 50%;
		transform: rotate(5deg);
		margin: 10px 0;
		padding: 0;
		text-align: center;
		background-color: $header_text_color;

		@media screen and (min-width: 1100px){
			margin-right: 20%;
			width: 40%;
			padding: 8px;
		}


	}

	li:nth-child(5),li:nth-child(6), li:nth-child(7), li:nth-child(8){
		display: inline-block;
		float:right;
		width: 50%;
		transform: rotate(5deg);
		margin: 10px 0;
		padding: 0;
		text-align: center;
		background-color: $header_text_color;

		@media screen and (min-width: 1100px){
			margin-left: 20%;
			width: 40%;
			padding: 8px;
		}

	}


}

.design-archives{
	width:50%;
	float:left;
	text-align: center;
	
	li{
		margin: 20px;
	}
	
	ul{
		margin:0;
		padding: 0;

	}
}

.zen-resources{
	width:50%;
	float:left;
	text-align: center;

	li{
		margin: 20px;
	}

	ul{
		margin:0;
		padding: 0;

	}
}





