

/* Colors */

$primary_text_color: #313131;
$primary_hover_color: #56beb7;
$secondary_text_color: #9c9c9c;

$primary_background_color: #fff;
$secondary_background_color: #f6f7fa;
$border_color: #edeef0;
$secondary_border_color: #dbdce1;
$trending_color: #63c3bd;

$border_green: #b4dbbf;
$border_green_2: #86c4c1;
$border_red: #d35a6a;
$border_yellow: #ecbe69;




/* Fonts */

$title_font_size: 20px ;
$menu_font_size: 20px ;
$secondary_font_size: 20px ;
$section_title_font_size: 20px ;

$default_font: "Lato", sans-serif;



