$primary_background_color: #fafafa;
$primary_text_color: #252525;
$secondary_text_color: #7b3a36;
$dark_blue: #003663;
$light_blue: #8c84c5;
$dark_brown: #5d3b35;
$light_brown: #c7b299;
$red: #5d3b35;
$purple: #8c84c5;
$link_blue: #34c2df;