$primary_background_color: #fafafa;
$primary_text_color: #252525;
$secondary_text_color: #7b3a36;
$dark_blue: #003663;
$light_blue: #38cfee;
$dark_brown: #5e4537;
$light_brown: #c7b299;
$red: #7b3a36;
