@import "bourbon/bourbon", "variables";

/*********************
 ** Element Styling **
 *********************/

* {
	box-sizing: border-box;
}
a{
	text-decoration: none;
	color: $dark_brown;
}

a.current_page{
	color: $purple;
}

a:hover{
	color: $link_blue;
}

h1, h2, h3, h4, h5, h6{
	font-weight: normal;
}

p{
	font-size: 1em;
	font-family: "aktiv-grotesk", sans-serif;

}

body{
	width: 100%;
	background-color: $primary_background_color;
	padding: 20px;
}




/**************
 *** Header ***
 **************/

header{
	width: 100%;
	text-align:center;
	
	.logo{
		height: 80px;
		width: 80px;
		border: 2px solid $light_brown;
		display:inline-block;
	}

	.title{
		font-family: "industry-inc-base", sans-serif;
		color: $primary_text_color;
		font-size: 2.2em;
		display: inline-block;
	}

	.header_border{
		height:6px;
		width: 100%;
		border-top: 2px solid $light_brown;
		border-bottom: 2px solid $dark_brown;
	}

}

nav{
	width: 100%;
	margin-bottom: 30px;
}

ul {
	list-style-type: none;
	padding-left: 0;
	text-align: center;
	

	li{
		display:inline;
		font-size: 1em;
		padding: 10px 20px;
		font-family: "industry-inc-base", sans-serif;

	}
		
}





/******************
 ** Main Content ** 
 ******************/

#menu_page{

	@media screen and (min-width:800px){
		width: 760px;
		margin: 0 auto;

	}
}

/* About the Menu */

.menu_section{

	@media screen and (min-width: 450px){
		width: 100%;
		overflow:auto;
		padding-top: 30px;
		
	
	}

	@media screen and (min-width:800px){
		float:right;
		padding-top: 55px;
		width: 220px;
		
	}

}
	
.menu_description{

	display:none;
	
	@media screen and (min-width: 450px){
		display: block;
		padding: 15px;
		border: 2px solid $dark_blue;
		position: relative;
		width: 50%;
		float:left;
	}



	@media screen and (min-width:800px){
		width: 100%;

	}

	h3{
		font-family: "Damion";
		font-size: 1.5em;
		color: $dark_blue;
		background-color: $primary_background-color; 
		margin: 0;
		position: absolute;
		top: -20px;
		padding-right: 5px;
		display: inline;

	}

	p{
		margin: 0;
		color: $dark_blue;
	}
}

.menu_options{
	width:100%;
	text-align: center;
	overflow:auto;


	@media screen and (min-width: 450px){
		width:50%;
		float:right;

	}

	@media screen and (min-width: 800px){
		width: 100%;
	}

	a{
			display:inline-block;
			margin: 0 0 4px 4px;
			float:left;
			

		@media screen and (min-width: 450px){
			display:inline-block;
			margin: 0 0 4px 10px;
			float:left;
			clear: left;
		}

		@media screen and (min-width:800px){
			margin: 20px 0 0 0;
		}
	}

	h4{
		font-family: "industry-inc-base", sans-serif;
		border: 2px solid $dark_blue;
		display: inline-block;
		padding: 4px 4px 0 4px;
		margin: 0;
		color: $dark_blue;

		&:hover{
			border-color: $link_blue;
			color: $link_blue;
		}

		@media screen and (min-width: 800px){
			padding: 10px 10px 6px 10px;
		
		}

	}

	h4.current_page {
		border: 2px solid $purple;
		color: $purple;

	}

}

/* The Actual Menu */

.main{
	width: 100%;
	clear:left;
	max-width: 500px;

}

.all_day_breakfast{
	text-align:center;
}


h2{
	font-family: "industry-inc-base", sans-serif;
	color: $dark_brown;

}

h5{
	font-family: "industry-inc-base", sans-serif;
	color: $primary_text_color;
	display:inline;
	font-size: 1em;
}

.main_content{

	div:nth-child(1){
		padding-top:35px;
	}
}


.section_divider{
	height: 2px;
	width: 100%;
	background-color: $purple; 
}


.menu_item{
	width: 100%;

	p{
		padding-left: 0px;
		padding-right: 50px;
		margin-top: 0;
		margin-bottom: 40px;
	}
	

}

.price{
	float:right;
	display:inline;
	margin: 0;
}

.ingredients{
	padding-left: 20px;
}

.breakfast_tacos_section{
	width:100%;
	border-top: 2px solid $purple;
	position:relative;

	h2{
		position: absolute;
		top: -15px;
		background-color: $primary_background-color;
		margin: 0 auto;
    	left: 50%;
    	padding-right: 4px;
    	padding-left: 4px;
    	display:inline;
    	margin-left: -110px;
	}

}

.ingredients_section{

	@extend .breakfast_tacos_section;
	width:100%;

	h2{
		margin-left: -85px;
	}



	div:nth-child(2){
		padding-top: 35px;
	}



}



/************
 ** Footer ** 
 ************/

footer{
	padding-bottom:30px;
	width: 100%;
	
	.border {
		border-top: 2px solid $dark_brown;
		border-bottom: 2px solid $light_brown;
		height: 6px;
	}

}

.social_icons{
	width: 50%;
	margin: 0 auto;
	text-align: center;

	a{

		i{
			color: $primary_text_color;
			font-size: 2em;
			margin: 5%;

			&:hover{
				color: $link_blue;
			}
		}

	}

	p{
		color: $primary_text_color;
		margin: 0;
	}

	div{
		height:2px;
		width:25%;
		margin: 15 auto;
		background-color: $light_brown;
	}
}


































